<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons padding slot="end" *ngIf="ws.socketStatus">
            <ion-icon color="success" name="disc" *ngIf="ws.socketStatus"></ion-icon>
            OnLine
        </ion-buttons>
        <ion-buttons padding slot="end" *ngIf="!ws.socketStatus">
            <ion-icon color="danger" name="disc" *ngIf="!ws.socketStatus"></ion-icon>
            OffLine
        </ion-buttons>
        <ion-title>
            Clientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Deslice para Actualizar" refreshingSpinner="circles" refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card class="welcome-card" color="primary">
        <ion-img src="/assets/fondo1.jpg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Noticias del Día</ion-card-subtitle>
            <ion-card-title>Mensaje de {{ current }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ message }}</p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-list-header color="secondary">
            <ion-label>Lista
                <br>
                <ion-badge color="danger" *ngIf="client.length === 0">{{ msg }}</ion-badge>
                <ion-badge color="success" *ngIf="client.length !== 0">{{ msg }}</ion-badge>
            </ion-label>
        </ion-list-header>
        <ion-item color="secondary" *ngFor="let cli of client">
            <ion-icon slot="start" color="success" name="contact"></ion-icon>
            <ion-label class="cliente-nombre" (click)="irA(cli)"># {{ cli.numero }} {{ cli.nombre }}</ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none">
        <ion-list-header color="secondary">
            <ion-label>Utilidades</ion-label>
        </ion-list-header>
        <ion-item color="secondary">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Manual del Asesor</ion-label>
        </ion-item>
        <ion-item color="secondary">
            <ion-icon slot="start" color="medium" name="build"></ion-icon>
            <ion-label>Reportar un problema</ion-label>
        </ion-item>
    </ion-list>
</ion-content>