agm-map {
    height: 100%;
}

.titulo-comercio-viaje {
    font-size: 13px;
}

.sin-datos-viaje {
    position: relative;
    top: 40%;
    bottom: 50%;
}

.sin-p {
    margin-bottom: 0;
    color: black;
}