<ion-header>
    <ion-toolbar color="">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="titulo-comercio-viaje" *ngIf="dato.lat > 0">Viajar a {{comercio}}</ion-title>
        <ion-title class="titulo-comercio-viaje" *ngIf="dato.lat === 0">Agregar GPS de {{comercio}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="" *ngIf="latEscucha > 0">

    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button (click)="info()">
                <ion-icon name="help"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [minZoom]="zoom" (mapClick)="agregarMarker($event)" *ngIf="dato.lat > 0">
        <agm-direction [origin]="origin" [destination]="destiny" [provideRouteAlternatives]="alternativa" [panel]="setPanel()" (onResponse)="getStatus($event)" [renderOptions]="renderOptions" [markerOptions]="markerOptions"></agm-direction>
        <agm-marker *ngIf="latMarker > 0" [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
    </agm-map>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="19" [minZoom]="19" (mapClick)="agregarMarker($event)" *ngIf="dato.lat === 0">
        <agm-marker *ngIf="latMarker > 0" [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
    </agm-map>

    <ion-button expand="block" fill="clear" (click)="iniciar()" *ngIf="dato.lat > 0">
        <ion-icon name="play" color=""></ion-icon>
    </ion-button>

    <ion-card color="light" id="myPanel" style="height: 100%;" *ngIf="dato.lat > 0"></ion-card>

</ion-content>

<ion-content text-center color="" *ngIf="latEscucha === 0">

    <h1 class="sin-datos-viaje">Sin datos de viaje o Cargando Información</h1>

</ion-content>